body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
.Toastify__toast-body {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font: 'Roboto', sans-serif;
}
